process {
  withName:porechop {
    container = "quay.io/biocontainers/porechop:0.2.4--py39h1f90b4d_6"
}
 withName:dragonflye {
    container = "quay.io/biocontainers/dragonflye:1.1.1--hdfd78af_0"
 }

 withName:busco {
    container = "nanozoo/busco:5.5.0--427a3e7"
 }
 withName:make_report {
    container = "dhp565/rmarkdown_pagedown:v1.0.0"
}
  withName:mlst {
    container="staphb/mlst:2.28.1"
  }
  withName:abricate_typing {
  container= "dhp565/bugtyper:06032026"
 }
 withName:serotype_ssuis {
  container= "dhp565/bugtyper:06032026"
 }
 withName:serotype_salmonella {
  container= "staphb/sistr:1.1.1"
 }
  withName:serotype_kpneumoniae {
  container= "dhp565/bugtyper:06032026"
 }
  withName: medaka {
  container="ontresearch/medaka:sha447c70a639b8bcf17dc49b51e74dfcde6474837b"
}
 withName: speciesid {
  container="quay.io/biocontainers/rmlst_api:0.1.8--pyhdfd78af_0"
 }
   withName:merge_filter_fastq {
    container = "quay.io/biocontainers/nanoq:0.10.0--h031d066_2"
}
  withName: nanoplot {
  container="nanozoo/nanoplot:1.42.0--547049c"
} 
   withName: circlator {
  container="staphb/circlator:1.5.5"
}
    withName: bakta {
  container="staphb/bakta:1.12.0"
}
withName:serotyping{
  container= "dhp565/bugtyper:06032026"
 }
   withName:multiqc {
	container = "quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0"


}
}